.bg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // background-image: url("../../image/indexBg.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    // background-color:black ;
}
.auth{
    .title-info{
        text-align: center;
        margin-top: 100px;
    }
    .title{
        // color: white;
        z-index: 900;
    }

    .form{
        .ant-tabs-nav-scroll{
            text-align: left;
        }
        width: 400px;
        margin: 0 auto;

        .item{
            margin-bottom: 16px;
            text-align: left;
            button{
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}

.ant-tabs-nav-scroll{
    text-align: left;
}